# 11. 데이터 변환하기

In [1]:
import numpy as np
import pandas as pd

In [2]:
d = pd.read_csv('../data/korean-idol.csv')
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

## 11-1. 성별 데이터 변환하기
* 남자 = 0, 여자 = 1

In [ ]:
# d['성별'] = (d['성별'] != "남자").astype(int)
# d

In [3]:
d.loc[d['성별'] == '남자', '성별2'] = 0
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별2
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  0.0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  0.0
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  0.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501  0.0
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  NaN
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335  0.0
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  0.0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615  NaN
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  0.0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489  0.0
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  NaN
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  0.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  0.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  0.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  0.0

In [4]:
d.loc[d['성별'] == '여자', '성별2'] = 1
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별2
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  0.0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  0.0
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  0.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501  0.0
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  1.0
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335  0.0
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  0.0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615  1.0
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  0.0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489  0.0
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  1.0
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  0.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  0.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  0.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  0.0

In [5]:
d['성별2'] = d['성별2'].astype(int)
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별2
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947    0
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745    0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501    0
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    1
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    0
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    1
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308    0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489    0
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    1
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027    0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    0

## 11-2. Apply 사용하기

In [6]:
# apply에 적용할 함수를 정의하기 (리턴값이 있어야 함)
def male_or_female(x):
    if x == '남자':
        return 0
    else:
        return 1

In [7]:
d['성별3'] = d['성별'].apply(male_or_female)
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별2  성별3
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    0    0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947    0    0
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745    0    0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501    0    0
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    1    1
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    0    0
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    0    0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    1    1
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308    0    0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489    0    0
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    1    1
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027    0    0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    0    0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    0    0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    0    0

## 11-3. Map 사용하기

In [8]:
my_map = {
    '남자': 0,
    '여자': 1
}
my_map

{'남자': 0, '여자': 1}

In [9]:
d['성별4'] = d['성별'].map(my_map)
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별2  성별3  성별4
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    0    0    0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947    0    0    0
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745    0    0    0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501    0    0    0
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    1    1    1
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    0    0    0
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    0    0    0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    1    1    1
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308    0    0    0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489    0    0    0
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    1    1    1
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027    0    0    0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    0    0    0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    0    0    0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    0    0    0

### 문제) 브랜드평판지수 / 10000으로 나누기
* 브랜드평판지수2에 넣기

In [13]:
def change_brand(x):
    return round(x / 10000)

In [14]:
d['브랜드평판지수2'] = d['브랜드평판지수'].apply(change_brand)
d

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,성별2,성별3,성별4,브랜드평판지수2
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,0,0,0,1052
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,0,0,0,992
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,0,0,0,827
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,0,0,0,807
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,1,1,1,765
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,0,0,0,521
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,0,0,0,499
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,1,1,1,467
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,0,0,0,457
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,0,0,0,404
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,1,1,1,392
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,0,0,0,351
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,0,0,0,330
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,0,0,0,327
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,0,0,0,293

In [15]:
# 람다 사용하기
d['브랜드평판지수3'] = d['브랜드평판지수'].apply(lambda x: round(x / 10000))
d

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,성별2,성별3,성별4,브랜드평판지수2,브랜드평판지수3
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,0,0,0,1052,1052
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,0,0,0,992,992
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,0,0,0,827,827
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,0,0,0,807,807
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,1,1,1,765,765
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,0,0,0,521,521
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,0,0,0,499,499
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,1,1,1,467,467
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,0,0,0,457,457
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,0,0,0,404,404
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,1,1,1,392,392
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,0,0,0,351,351
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,0,0,0,330,330
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,0,0,0,327,327
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,0,0,0,293,293

### 문제2) 혈액형 데이터 바꾸기
* A형: 0, B형: 1. AB형: 2, O형: 3

In [17]:
blood_map = {
    'A': 0,
    'B': 1,
    'AB': 2,
    'O': 3,
}

In [18]:
d['혈액형2'] = d['혈액형'].map(blood_map)
d

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,성별2,성별3,성별4,브랜드평판지수2,브랜드평판지수3,혈액형2
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,0,0,0,1052,1052,0
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,0,0,0,992,992,0
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,0,0,0,827,827,0
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,0,0,0,807,807,2
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,1,1,1,765,765,0
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,0,0,0,521,521,0
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,0,0,0,499,499,3
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,1,1,1,467,467,1
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,0,0,0,457,457,3
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,0,0,0,404,404,0
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,1,1,1,392,392,0
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,0,0,0,351,351,1
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,0,0,0,330,330,2
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,0,0,0,327,327,3
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,0,0,0,293,293,3

In [19]:
d['혈액형'].value_counts()

A     7
O     4
B     2
AB    2
Name: 혈액형, dtype: int64